@model IEnumerable<TravelCompany.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
    <table class="table">
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ValidationState)
            </th>
            <th scope="col">
                <!--@Html.DisplayNameFor(model => model.Employee.Name)-->
                Employee's Full Name
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Voyage.Destination)
            </th>
            <th scope="col"></th>
        </tr>
        @{var count = 1;}

        @foreach (var item in Model)
        {

            <tr>
                <th scope="row">@count</th>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidationState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Name) @Html.DisplayFor(modelItem => item.Employee.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voyage.Destination)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
            count++;
        }
    </table>
    <div class="text-right">
        <button type="button" class="btn btn-dark">Validate</button>
    </div>
</div>