@model TravelCompany.Models.Voyage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>




<div>
    <h4>Voyage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxNumVoyagers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxNumVoyagers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfVoyage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfVoyage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
