@model IEnumerable<TravelCompany.Models.Voyage>

@{
    ViewBag.Title = "Index";
}

<h1>Destinations</h1>

<p>
    Here's an interactive map with possible destinations to travel

    <div id="mapid"></div>
</p>

<div class="container">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxNumVoyagers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfVoyage)
            </th>
            <th>
                Availability
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxNumVoyagers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfVoyage)
                </td>
                <td>
                    @Html.DisplayName(item.IsAvailable ? "yes" : "no")
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id },null) |
                    @Html.ActionLink("List of Passengers", "Passengers", "Voyages", new { id = item.Id },null) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
    <div class="text-right">
        <button type="submit" class="btn btn-dark">Add destination</button>
    </div>
</div>

