@model IEnumerable<TravelCompany.Models.Employee>

@{
    ViewBag.Title = "Passengers";
}

<h2 class="text-center">Passagers List for @ViewBag.Voyage.Destination</h2>


<div class="container ">

    <div class="container col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">Subscribed</div>
            <div class="panel-body">
                @foreach (var item in Model)
                {
                    if (ViewBag.Voyage.HasEmployee(item))
                    {

                        <p style="float:left">@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname) </p>
                        <p style="float:right">@Html.ActionLink("Unscribe", "RemovePassenger", "Voyages", new { idVoyage = ViewBag.Voyage.Id, idEmployee = item.Id },null)</p>
                        <br /><hr />
                    }

                }
            </div>
        </div>
    </div>
    <div class="container col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">Unsbscribed</div>
            <div class="panel-body">
                @foreach (var item in Model)
                {
                    if (!ViewBag.Voyage.HasEmployee(item))
                    {
                        <p style="float:left">@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname) </p>
                        <p style="float:right">@Html.ActionLink("Subscribe", "AddPassenger", "Voyages", new { idVoyage = ViewBag.Voyage.Id, idEmployee = item.Id },null)</p>
                        <!-- <p style="float:right">@Html.ActionLink("Details", "Details", "Voyages", new { id = item.Id },null)</p>-->
                        <p @Ajax.ActionLink("Open popup", "SomeAction" , new AjaxOptions { HttpMethod="GET" , UpdateTargetId="result" , InsertionMode=InsertionMode.Replace, OnSuccess="openPopup" })<br />
                        <br /><hr />
                   }

                }
            </div>
         </div>
    </div>
</div>
    <div class="container">
        <h4>Travel's details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                City : 
            </dt>

            <dd>
                @Html.Raw(ViewBag.Voyage.Destination)
            </dd>

            <dt>
                Max Number of travelers : 
            </dt>

            <dd>
                @Html.Raw(ViewBag.Voyage.MaxNumVoyagers)
            </dd>

            <dt>
                Date of travel : 
            </dt>

            <dd>
                @Html.Raw(ViewBag.Voyage.DateOfVoyage)
            </dd>

            <dt>
               Avaiability : 
            </dt>

            <dd>
                @(ViewBag.Voyage.IsAvailable ? "Yes" : "No")
            </dd>

            <dt>
                Validation State :
            </dt>

            <dd>
                @(ViewBag.Voyage.IsAvailable ? "Yes" : "No")
            </dd>

        </dl>
    </div>

    @foreach (var item in Model)
    {
        <p>@item.Name + @item.Salary  +  @item.Seniority</p>
    }

    @foreach (var reservation in @ViewBag.Reservations)
    {
        <p>@reservation.Id</p>
    }

    <div class="text-right">
        <button type="button" value="Upload" class="btn btn-light" 
                onclick="@Url.Action("ValidateVoyage", "Voyages",new { id = ViewBag.Voyage.Id })''"> Validate reservation</button>
    </div>
